.nopaddingmargin{
    padding: 0px;
    margin: 0px;
}

#cav_raw_data_textarea{
    min-height: 0px;
    height: 100%;
    width: 90%;
    margin-left: 15px;
    border: none;
    resize: none;
}
#track_info, #sel_data_info{
    margin-left: 1em;
}
#Info_panel_body{ 
    height: 0px; /*set to 0 height when nothing is loaded*/
}
#overlay-marker{ /*the interactive line in CSS*/
    height: 100%;
    position: fixed;
    top: 0;
    border-left-width: 0.5px;
    border-left: solid green;
    visibility: hidden;
    overflow-y: auto;
}
#tabs{
    visibility: hidden;
}
#info, #config, #sel_data_info{
    margin-top: 0.8em;
}

/*Load custom font*/
@font-face {
  font-family: "Roboto Slab";
  src: url("src/lib/RobotoSlab-Regular.ttf");
  }

/*Disable horizontal scroll*/
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
    font-family: 'Roboto Slab', serif;
}

/*Responsive styling*/
@media (min-width: 768px){ /* small screen*/

}
@media (min-width: 992px){ /* md screen*/
    #Info_panel_col{
        padding-left: 0px;
    }
}